* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.colorDisplaySpace {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
}

#rotateButton {
  padding: 1rem 2rem;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 2rem;
  position: relative;

  cursor: pointer;
  transition: all 0.3s ease;
}

#rotateButton:hover,
#rotateButton:active {
  background-color: #000;
  color: #fff;
}

.colorDisplaySpace_valueDisplay {
  padding: 1rem 0;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
}

.mainSquare {
  height: 15vh;
  width: 15vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}
